# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Gemini
GEMINI_API_KEY=your_gemini_api_key_here

# Notion
NOTION_TOKEN=your_notion_integration_token_here
NOTION_DATABASE_ID=your_notion_database_id_here

ALLOWED_USERNAMES=username1,username2,username3